*{
    box-sizing: border-box;
    line-height: 1.5;
    
}

a{
    text-decoration: none;
    color: #220C08;
    font-size: 24px;
}

a:hover{
    color: rgb(214, 58, 38);
  }

body{
    margin: 0;
    padding: 0;
    background-image: url(../images/bg.jpg); 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    background-color: #f1eeea;
    font-family: 'Oleo Script', cursive;
    color: #1a1b1f;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.navbar ul {
    list-style: none;
    background: #220C08;
    margin: 0;
    padding: 0;
    text-align: right;
    
}

.navbar li{
    display: inline-block;
    padding-right: 70px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100px;
    padding: 16px;
  
 
   
}

img{
    width: 100%;
    height: 100%;
    border-radius: 15px;

}



.section{
    display: flex;
  

}

.email-section{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    b
}

.container{
 
    float: left;
    width: 50%;
    padding: 100px 50px 0px 150px;
}


.imgcontainer{
    padding: 50px 50px 30px 0px;
   

}



.skillscontainer{
    padding: 50px 200px 100px 150px;
   

    
}

.heading{
    font-size: 48px;
    color: rgb(214, 58, 38);
    margin: -10px 0px 20px 0px;
}

.service-name-text{
    font-size: 36px;
    color: #1f1004;
}

.footer-links{
    float: right;
    display: inline-block;
    padding: 100px;
    
}

.footer-item{
    padding: 20px;
    text-decoration: none;

}


.allProjects{
    
  
    display: flex;
    margin: auto;
    width: 80%;
    padding: 60px 16%;
       
       

}


.project1{
    border-radius: 15px;
    color: white;
    padding: 200px 80px;
    text-align: center;
    text-decoration: none;
    position: center;
    margin: 10px;
    background-image: url(../images/cardboard.jpg); 
   
}

.project1:hover{
    background-color: #ffffff;
    border-radius: 15px;
    background-image: url(../images/project1_pic1.png); 
   
  }

  .project2{
    border-radius: 15px;
    background-image: url(../images/cardboard.jpg); 
    color: white;
    padding: 200px 80px;
    text-align: center;
    text-decoration: none;
    position: center;
    margin: 10px;
   
}

.project2:hover{
    background-color: #ffffff;
    border-radius: 15px;
    background-image: url(../images/project2_pic2.png); 
   
  }

  .project3{
    border-radius: 15px;
    background-image: url(../images/cardboard.jpg); 
    color: white;
    padding: 200px 80px;
    text-align: center;
    text-decoration: none;
    position: center;
    margin: 10px;
   
}

.project3:hover{
    background-color: #ffffff;
    border-radius: 15px;
    background-image: url(../images/project3_pic1.png); 
   
  }


.projectContainer{
    width: 80%;
    margin: auto;
}


  .projectParagraphs{

    display: flex;
    margin: auto;
    width: 100%;
  
    padding: 60px 30px;
       
  }

  #paragraph{
      padding: 50px;
      
  }

  .projectImages{
      width: 80%;
      margin: auto;
  }


.backButton{

    margin:80px;
    text-decoration: none;
    color: #1f1004;
}

.backButton:hover{
    color: rgb(214, 58, 38);
  }

.paragraph-light{
    font-family: 'Open Sans', sans-serif;
    color: #807d7d;
}